*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    float: none;
    clear: both;
}
body {
    background: whitesmoke;
    background-attachment: fixed;
}
/*#nav-menu {*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    z-index: 1000;*/
/*}*/

#logo{
    margin-right: 30px;

}
#coplements{
    margin-right: 200px;

}
#lista{
    line-height: 50px;
    margin-left: 15%;

}

#lista li{
    height: 50px;
    transition: all 300ms;

}
#lista a{
    color:black;
    text-decoration: none;
    padding-right: 35px;
}
#lista a:hover{
   color: rgba(152, 25, 20, 0.90);
}


/*#lenguage{*/
/*    float: right;*/
/*    margin-top: 10px;*/
/*    width: 110px;*/
/*    height: 30px;*/


/*}*/
/*#lenguage a{*/
/*    font-family: Verdana, Arial;*/
/*    font-size: 13px;*/
/*    letter-spacing: 1px;*/
/*    line-height: 75px;*/
/*    margin-right: 5px;*/
/*    color: black;*/
/*    text-decoration: none;*/

/*}*/
/*#lenguage img{*/
/*    width: 10px;*/
/*    height: 10px;*/

/*}*/

/*#buscar{*/
/*    display: block;*/
/*    float: right;*/
/*    margin-top: 70px ;*/
/*    margin-right: -9%;*/
/*}*/
/*#buscar input{*/
/*    padding: 5px;*/
/*    border-radius: 2px;*/
/*    border:1px solid #ccc;*/
/*    width: 80%;*/
/*}*/
/*#buscar img{*/
/*    width: 12px;*/
/*    height: 12px;*/
/*}*/
/* Fin logo*/

/* Fin menu*/
.carousel{
    width: 100%;
    height: 100%;
    margin-top: -60px;
    position:absolute;
}
.carousel a{
    z-index: revert;
}
.carousel img{
    width: 100%;
    height: 100%;
    border: 1px solid;
}
section{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    background: white;
    box-shadow: 0px 0px 1px gray;
    padding-top: 16rem;
    border-style: none;
    outline:none;
}
/* Bienvenido */
.post{
    margin-top: 30px;
    margin-left: 60px;
    padding-bottom: 20px;
    width: 85%;
    height: 120%;
    border-style: none;

}
.post h1{
    font-family: Verdana, Arial;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 75px;
    margin-left: 35px;
    color: black;
    text-align: center;
}
.post p{
    font-size: 25px;
    font-family: Helvetica, Arial;
    text-align: justify;
}


.post h2{
    font-family: Helvetica, Arial;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 75px;
    margin-left: 35px;
    color: black;
    text-align: left;
}


.button-more{
    font-size: 14px;
    text-align: center;
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    width: 70px;
    margin-bottom: 20px;
}



#footer {
    font-family: Helvetica, Arial;
    color:white;
    background: rgba(152, 25, 20, 0.90);
    margin: 0px auto;
    width: 75%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
    text-align: center;
    bottom: 0;
}
#footer img{
   filter: opacity(50%);
}
#footer img:hover{
    filter: opacity(100%)  brightness(120%);
}

#subir{
    color: white;
    text-decoration: none;
    display: block;
}


