@font-face {
    font-family: "robo-thin";
    src: url("../font/Roboto-Thin.ttf");
}

*{
    margin: 0px;
    padding: 0px;
}

body {

    background: whitesmoke;
    background-attachment: fixed;
}
#section0{

    background: #faf5f5;
}
@media only screen and (min-width : 321px) and (max-width : 425px) {
    #logo img{
        margin-left: -25px;
    }
    #section0 div .b,.a{
        padding-right: 5%;
        text-align: center;
    }
    #section0 div .a{
        margin-top: -10px;
    }

}
@media only screen and (min-width : 300px) and (max-width : 320px) {
    #section0 div .a{
        text-align: center;
    }

}
@media only screen and (min-width : 420px) and (max-width : 768px) {
    #logo img{
        margin-left: 5px;
    }
}



#section0 .col {
    font-family: Helvetica ;
    font-size: 14px;
    color: #616161;
    text-align: left;
    padding-top: 15px;
    padding-right: 5px;
}
#section0 .a {
    padding-top: 25px;
    text-align: center;
}
#logo{
    margin-left: 60px;

}

.head{
    margin-right: 200px;

}
#lista {
    line-height: 50px;
    margin-left: 15%;

}

#lista li{
    height: 50px;
    transition: all 300ms;

}
#lista li a{
    font-family: Helvetica,Arial;
    color: rgba(215, 214, 214, 0.98);
    text-decoration: none;
    padding-right: 40px;
    padding-left: 40px;

}
#lista li a h5{
    font-size: 17px;
}

#lista a:hover{
   color: #bf4426;
    box-shadow: 0px 1px 0px 0px #eeee;
}


#section1,
#section2,
#section3,
#section4
{
    min-height: auto;
    margin: 0px auto;
    border-style: none;
    outline:none;
    padding-bottom: 10px;
    max-width: 90%;
}
#carouselExampleIndicators {
    margin-top: 5px;
    pading: 10px;


}
#carouselExampleIndicators img{
    margin-top: 5px;
    max-height: 80vh;
    max-width: 100%;
}


/************ Servicios Section 3 ********/
#section3 .container{
    max-width: 90%;
}
#section3 #Fila1 {

}
#section3 #Fila1 h1{
    font-family: 'Montserrat', sans-serif;
    border-bottom: 4px solid #b91817;
    position: relative;
    display: inline-block;
    font-size: 36px;
    line-height: 45px;
    font-weight: 400;
    color: #272727;
}
#section3 .row p{
    font-size: 20px;
    color: #2b2b2b;
    line-height: 34px;
    letter-spacing: -0.5px;;
}

#section3 .row {
    padding-top: 15px;
    font-family: 'robo-thin';
    display: flex;

}
#section3 .row .col-md{

    justify-content: space-between;
    margin-bottom: 15px;
    margin-right: 3%;
    margin-left: 3%;
}

#section3 .col-md img{
    width: 100%;
    height: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    object-fit: cover;
}
#section3 div strong{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
    color: #272727;

}
#section3 .col-md  p{
    font-size: 25px;
    color: #9e9e9e;
    line-height: 30px;
    letter-spacing: -0.5px;
}
#section3 .col-md button{
    background: #333333;
    margin-left: 23%;
    height: 7%;
    width: 45%;
    position:absolute;
    bottom:15px;
    font-size: 18px;
    color: white;

    letter-spacing: -0.5px;

}


p{
    font-family: 'robo-thin';
}


/* Inicio del footer*/
#footer {
    font-family: Helvetica, Arial;
    color:white;
    background: rgba(150, 25, 20, 0.9);
    margin: 0px auto;
    width: 75%;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 47px;
    text-align: center;
    bottom: 0;
}
#footer img{
   filter: opacity(50%);
}
#footer img:hover{
    filter: opacity(100%)  brightness(120%);
}

#subir{
    color: white;
    text-decoration: none;
    display: block;
}
/**************************************/
.team-boxed {
    color:#313437;
    background-color:#eef4f7;
}

.team-boxed p {
    color:#7d8285;
}

.team-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
}

@media (max-width:767px) {
    .team-boxed h2 {
        margin-bottom:25px;
        padding-top:25px;
        font-size:24px;
    }
}

.team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
}

.team-boxed .intro p {
    margin-bottom:0;
}

.team-boxed .people {
    padding:50px 0;
}

.team-boxed .item {
    text-align:center;
}

.team-boxed .item .box {
    text-align:center;
    padding:30px;
    background-color:#fff;
    margin-bottom:30px;
}

.team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:inherit;
}

.team-boxed .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#d0d0d0;
    letter-spacing:2px;
    font-size:13px;
}

.team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
}

.team-boxed .item img {
    max-width:160px;
}

.team-boxed .social {
    font-size:18px;
    color:#a2a8ae;
}

.team-boxed .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
}

.team-boxed .social a:hover {
    opacity:1;
}

/*.carousel{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
/*.carousel img{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border: 1px solid;*/
/*}*/
/*!* Bienvenido *!*/
/*.post{*/
/*    margin-top: 30px;*/
/*    margin-left: 60px;*/
/*    padding-bottom: 20px;*/
/*    width: 85%;*/
/*    height: 120%;*/
/*    border-style: none;*/

/*}*/
/*.post h1{*/
/*    font-family: Verdana, Arial;*/
/*    font-size: 50px;*/
/*    letter-spacing: 1px;*/
/*    line-height: 75px;*/
/*    margin-left: 35px;*/
/*    color: black;*/
/*    text-align: center;*/
/*}*/
/*.post p{*/
/*    font-size: 25px;*/
/*    font-family: Helvetica, Arial;*/
/*    text-align: justify;*/
/*}*/


/*.post h2{*/
/*    font-family: Helvetica, Arial;*/
/*    font-size: 40px;*/
/*    letter-spacing: 1px;*/
/*    line-height: 75px;*/
/*    margin-left: 35px;*/
/*    color: black;*/
/*    text-align: left;*/
/*}*/

/*fin del contenido */



