@font-face {
    font-family: "robo-thin";
    src: url("../font/Roboto-Thin.ttf");
}
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');

*{
    margin: 0px;
    padding: 0px;

}

body {
    background: whitesmoke;
    background-attachment: fixed;
    zoom: 100%
}
#section0{

    background: white;
}
@media only screen and (min-width : 321px) and (max-width : 425px) {
    #logo img{
        margin-left: -25px;
    }
    #section0 div .b,.a{
        padding-right: 5%;
        text-align: center;
    }
    #section0 div .a{
        margin-top: -10px;
    }
    #section3 .j p{
        margin-bottom: -100px !important;
    }
}
@media only screen and (min-width : 300px) and (max-width : 374px) {
    #section0 div .a{
        text-align: center;
    }

    #section3 .j p{
        margin-bottom: -50px !important;
    }
    #section3 .x p{
        margin-bottom: 80px ;
    }

}
@media only screen and (min-width : 420px) and (max-width : 991px) {
    #logo img{
        margin-left: 5px;
    }
    #section3 .j p{
        margin-bottom: -50px !important;
    }
    #section3 #service_2,
    #section3 #service_5{
        margin-left: auto;
        margin-right: auto;
    }
    #section3 #service_5 p{
        margin-bottom: 110px !important;
    }
    #section3 #service_2 p{
        margin-bottom: 70px !important;
    }
    #section3 button{
        bottom: 8% !important;
    }


}
@media only screen and  (max-width : 1024px) and (min-width : 769px){
    #section3 button{
        margin-left: 8% !important;
    }
    #section3 .x p{
        margin-bottom: 81px;
    }
    #section2 .overlay{

        top: 4% !important;
        bottom: 4% !important;
    }
    #clients-logo-section img{
        filter: grayscale(100%);
    }
    #clients-logo-section img:hover{
        filter: grayscale(0%);
    }


}
@media only screen and  (max-width : 4000px) and (min-width : 1025px){
    #section3 button{
        margin-left: 22% !important;
        bottom: 30px !important;
    }
    #clients-logo-section img{
        filter: grayscale(100%);
    }
    #clients-logo-section img:hover{
        filter: grayscale(0%);
    }

}

@media only screen and  (max-width : 1023px) and (min-width : 768px){
    #section2 .overlay{

        top: 12% !important;
        bottom: 12% !important;
        left: 15px;
        right: 0;
        width: 90%;
    }
}

#section0 .col {
    font-family: Helvetica ;
    font-size: 14px;
    color: #616161;
    text-align: left;
    padding-top: 15px;
    padding-right: 5px;
}
#section0 .a {
    padding-top: 25px;
    text-align: center;
}
#logo{
    margin-left: 60px;

}

.head{
    margin-right: 200px;

}
#lista {
    line-height: 50px;
    margin-left: 15%;

}

#lista li{
    height: 50px;
    transition: all 300ms;

}
#lista li a{
    font-family: Helvetica,Arial;
    color: rgba(215, 214, 214, 0.98);
    text-decoration: none;
    padding-right: 40px;
    padding-left: 40px;

}
#lista li a h5{
    font-size: 17px;
}

#lista a:hover{
   color: #bf4426;
    box-shadow: 0px 1px 0px 0px #eeee;
}



#section2,
#section3,
#section4
{
    min-height: auto;
    margin: 0px auto;
    border-style: none;
    outline:none;
    padding-bottom: 10px;
    max-width: 90%;
}
#section1{
    max-width: 100%;
}

#carouselExampleIndicators {
    margin-top: 5px;
    pading: 10px;


}
#carouselExampleIndicators img{
    margin-top: 5px;
    max-height: 80vh;
    max-width: 100%;
}


/************ Servicios Section 3 ********/
#section3 {
    max-width: 90%;
}
#section3 #Fila1 h1{
    font-family: 'Montserrat', sans-serif;
    border-bottom: 4px solid #b91817;
    position: relative;
    display: inline-block;
    font-size: 36px;
    line-height: 45px;
    font-weight: 400;
    color: #272727;
}
#section3 .row .x p{
    font-size: 80%;
    color: #2b2b2b;
    letter-spacing: -0.5px;
    margin-bottom: 70px;

}

#section3 .row {
    padding-top: 15px;
    font-family: 'robo-thin';

}
#section3 .row .x{

    margin-bottom: 15px;
    padding: 3%;
}

#section3  img{
    width: 100%;
    height: 190px;
    margin-top: 5px;
    margin-bottom: 5px;
    object-fit: cover;
}
#section3  .row strong{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    color: #e81313;

}

#section3 .separet{
    position: relative;
    display: block;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 40px;
    top: -10px;
}

#section3  .row button{
    background: #333333;
    margin-left: 16%;
    height: 30px;
    width: 150px;
    position:absolute; /*El div será ubicado con relación a la pantalla*/
    color: white;
    font-size: 10px;
    text-align: center;
    letter-spacing: -0.5px;
    margin-top: 10px;
    bottom: 0px;

}
p{
    font-family: 'robo-thin';
}
/* Fin section 3*/
/* inicio de seccion 2 */
#section2 .kk,
#section2 .ppp
{
    max-height: 62vh;
}
#section2 .kk{
    display: flex;
    position: relative;
    margin-bottom: 5%;
}



#section2 .kk img{
    height: 40vh;
    width: 100%;
    object-fit: cover;
    filter: grayscale(80%);
}
#section2  h1{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-size: 36px;
    line-height: 45px;
    font-weight: 400;
    color: #272727;
    border-bottom: 4px solid #b91817;
}
#section2 .overlay{
    position: absolute;
    top: 0px;
    bottom: 0;
    /*left: 0;*/
    /*right: 0;*/




}
#section2 .overlay .row{
    width: 100%;
}
#section2 .overlay .col-md-12{
    margin-top: 10%;
    background: rgba(0,0,0,0.35);
    width: 100%;
    color: white;
    text-align: center;

}


#section2 .overlay h2{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-size: 90%;
    line-height: 28px;
    font-weight: bold;
    color: #e8e8e7;
    /*margin-top: 10%*/
    margin-bottom: 10%;
}
#section2 .overlay p{
    display: inline-block;
    font-size: 90%;
    font-weight: bold;
    text-align: justify-all;
    color: #f6f5f5;
    /*margin-top: 5%*/

}
#section2 .ppp h2{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-size: 90%;
    /*line-height: 15px;*/
    font-weight: bold;
    color: #b91817;
    text-align: start;
    /*margin-top: 10%;*/
}
#section2  .ppp p{
    display: inline-block;
    font-size: 80%;
    /*line-height: 13px;*/
    font-weight: bold;
    text-align: justify-all;
    color: #333333;
    /*margin-top: 2%;*/

}
#section2 .pp{
    position: relative;
    padding: 5px ;
    margin-top: 3%;
    max-width: 290px !important;
    margin-left: auto;
    margin-right: auto;

}
#section2 .pp img{
    max-height: 35%;
    /*margin-left: 50px;*/
}
#section2 .pp h3{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #333333;
    text-align: start;
    margin-bottom: 40%;
    margin-left: 10%;

}
#section2 .pp p{
    position: absolute;
    bottom: 0;
    left: 37%;
    right: 5%;
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
    color: #333333;
}
#section2 .pp:hover{
    background: #f6f5f5;
    box-shadow:3px 4px 10px -2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 4px 10px -2px rgba(0,0,0,0.5);
}
/* OWL - carrousel */
#clients-logo-section{
    margin-top:0;
    padding-bottom:10px;
    padding-top:10px;
    width:100%;
    background-color:#fff;
    display:block;
    height:auto;
}
#clients-logo-section .col-md-12 {
    background-color:#fff;
    margin-top:0;
}


/**************************************/
.team-boxed {
    color:#313437;
    background-color:#333333;
    margin-bottom: 30px;
}

.team-boxed p {
    color:#7d8285;

}
.team-boxed .intro p{
    /*margin-left: -30%;*/
    color: #f6f5f5;
}
.team-boxed h2 {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    color: #e81313;
    text-align: start;
    margin-bottom:40px;
    padding-top:40px;
    /*margin-left: -30%;*/
    border-bottom: 1px solid #f6f5f5;
}

@media (max-width:767px) {
    .team-boxed h2 {
        margin-bottom:25px;
        padding-top:25px;
        font-size:23px;
    }
}


.team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
}

.team-boxed .intro p {
    margin-bottom:0;
}

.team-boxed .people {
    padding:30px 0;

}

.team-boxed .item {
    text-align:center;
}

.team-boxed .item .box {
    text-align:center;
    padding:30px;
    background-color:#fff;
    margin-bottom:30px;
}

.team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:inherit;
}

.team-boxed .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#d0d0d0;
    letter-spacing:2px;
    font-size:13px;
}

.team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
}

.team-boxed .item img {
    max-width:160px;
}

.team-boxed .social {
    font-size:18px;
    color:#a2a8ae;
}

.team-boxed .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
    filter: grayscale(100%);
}
.team-boxed .social img {
    height: 18px;
    width: 18px;

}

.team-boxed .social a:hover {
    opacity:1;
    filter: grayscale(0%);

}

.team-boxed .box:hover{
    box-shadow:3px 4px 10px -2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 4px 10px -2px rgba(0,0,0,0.5);
    background: #e8e8e7;
}
/* ************************************************************************  */

#section5{
    padding: 50px 0;
}
.details-card {
    background: white;
}

.card-content {
    background: #ffffff;
    border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    height: 40vh;
    z-index: 1;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-img span {
    position: absolute;
    top: 90%;
    left: 21%;
    background: #b91817;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
    font-size: 12px;
    margin:0;
    padding:10px 5px;
    line-height: 0;
}
.card-desc {
    padding: 1.25rem;
}

.card-desc h3 {
    color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
    color: #747373;
    font-size: 14px;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'roboto-light', sans-serif;
}
.btn-card{
    background-color: #333333;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: #b91817;
    text-decoration: none;
    color: #fff;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}
/* End card section */

/***************************Inicio del footer******************************* */
.page-footer{
    background: #333333;

}
footer .fab img{
    height: 36px;
    width: 36px;
    opacity: 50%;
    /*filter: light(10%);*/
}

footer a{
    color: #e8e8e7;

}
footer a:hover{
    text-decoration: none;
    color: #b91817;
    font-size: 16px;
}
footer .fab img:hover{
    opacity: 100%;
    filter: grayscale(0%);
}
footer .font-weight-bold,
footer p{
    color: #f6f5f5;
}



/*FIN*/



